%p
.card
  .card-header
    = link_to assessment.title, course_assessment_path(@course, assessment), class: "no-hyper"
    - if policy(assessment).edit?
      = link_to 'Edit', edit_course_assessment_path(@course, assessment), class: 'btn btn-sm btn-warning'
      = link_to 'Delete', [@course, assessment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' 
  - if policy(assessment).show?  
    .card-body
      .card-text
        = assessment.questions

   
