// Inspect view, displays on course show view as item list
- if current_user  
  - if assessment.course.admitted(current_user) || @course.user == current_user
    .fa.fa-pencil
  = link_to course_assessment_path(@course, assessment), class: "no-hyper" do 
    = assessment.title
- else
  = link_to course_assessment_path(@course, assessment), class: "no-hyper" do 
    = assessment.title