// Edit view for an assessment, renders form to update assessment
.card
  .card-header
    %h1 Editing assessment
  .card-body
    = render "form"
  .card-footer
    = link_to "Show assessment", course_assessment_path(@course, @assessment)
    \|
    = link_to "Back", course_path(@assessment.course)
