.card
  .card-header
    %h1 Editing assessment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show assessment', course_assessment_path(@course, @assessment)
    \|
    = link_to 'Back to course', course_path(@assessment.course)
