// replies to a post, setting the prefix of a user by role
// Reference: https://github.com/RolifyCommunity/rolify
.card
  .card-body
    = message.content
  .card-footer
    = time_ago_in_words(message.updated_at)
    ago by
    - if message.user.has_role?(:admin)
      .badge.badge-admin
        Admin
    - if message.user.has_role?(:teacher) && !message.user.has_role?(:admin)
      .badge.badge-teacher
        Teacher
    - if message.user.has_role?(:student) && !message.user.has_role?(:teacher) && !message.user.has_role?(:admin)
      .badge.badge-student
        Student
    = link_to message.user.username, user_path(message.user), class: "no-hyper"
    %br
    %br
    = link_to "Delete", [@post, message], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" 
