.card
  .card-header
    %h1 Edit course:
  .card-body
    = render 'form'
    
  .card-footer
    = link_to 'Show', @course, class: "no-hyper"
    \|
    = link_to 'Back', courses_path, class: "no-hyper"
