@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import "./actiontext.scss";


.badge.badge-danger {
  background-color: red !important;
  color: white;
}

.badge.badge-info {
  background-color: #17a2b8 !important;
  color: white;
}

.badge.badge-success {
  background-color: green !important;
  color: white;
}

.no-hyper {
  text-decoration: none !important;
}

.lesson-row .col-left {
  float: left !important;
}

.lesson-row .col-right {
  float: right !important;
}

.main {
  display: flex !important;
  display: inline-block !important;
  flex: 1 !important;
  height: 600px;
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  overflow: hidden;

}

.card-body {
  flex: 1 !important;
  height: 200px;
}

.card-body-custom {
  flex: 1 !important;
  min-height: 20vh;
}

.card-footer {
  flex: 1;
}

.card-post {
  height: 125px !important;
  width: 1000px;
}

#answers {
  white-space: pre-wrap;
}



