@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import "./actiontext.scss";


.badge.badge-danger {
  background-color: red !important;
  color: white;
}

.badge.badge-info {
  background-color: #17a2b8 !important;
  color: white;
}

.badge.badge-success {
  background-color: green !important;
  color: white;
}

.no-hyper {
  text-decoration: none !important;
}

.lesson-row .col-left {
  float: left !important;
}

.lesson-row .col-right {
  float: right !important;
}