%p
.jumbotron.text-info
  .display-4
    Start your journey within Cyber Security!

  .p-4
  
  = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
    .input-group
      = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
      %span.input-group-append
        %button.btn.btn-primary.btn-sm{:type => "submit"}
          %span.fa.fa-search{"aria-hidden" => "true"}
  
            
  %p

.container{style: "padding: 20px; border: 1px solid #01B7EA; font-size: 16px; color: #01B7EA; margin: 0 auto; "}
  %hr.text-info
  %h2.text-info
    .fa.fa-arrow-trend-up
    Trending courses
    %p
  .card-columns{style: "display: inline-block; flex-wrap: wrap; justify-content: space-between; width: 100%; overflow: auto; margin: 0 auto;" }
    - @trending_courses.each do |course|
      = render 'courses/viewcourse', course: course
  
  %hr.text-info
  %h2.text-info
    .fa.fa-cart-plus
    New courses
    %p
  .card-columns{style: "display: inline-block; flex-wrap: wrap; justify-content: space-between; width: 100%; overflow: auto; margin: 0 auto;" }
    - @new_courses.each do |course|
      = render 'courses/viewcourse', course: course
  
  %hr
