%p
%h1
  Policy 
  
%p  
.alert.alert-danger{ role: 'alert' }
  .alert-heading= "This application was built for a Final Year Project, not yet available for commercial use."  

%br
%p
= link_to "Back to home", root_path, class: "btn btn-sm btn-info"
