// this page states the application is not available to the public yet, however for future work this page would include terms and conditions + rules for the application for users to adhere to
%p
%h1
  Policy 
  
%p  
.alert.alert-danger{ role: "alert" }
  .alert-heading= "This application was built for a Final Year Project, not yet available for public nor commercial use."  

%br
%p
= link_to "Back to home", root_path, class: "btn btn-sm btn-info"
