.card
  .card-header
    %h3
    
      .text-warning.fa.fa-star
      Add Review
      
    %p
  .card-body
    = render 'form'
  .card-footer


= link_to 'Show Reviews', @admission
\|
= link_to 'Back', course_path(@admission.course)
