//Editing the review, renders form partial.
.card
  .card-header
    %h3
    
      .text-warning.fa.fa-star
      Add Review
      
    %p
  .card-body
    = render "form"
  .card-footer


= link_to "Show Reviews", @admission, class: "btn btn-info"
%p
= link_to "Back", course_path(@admission.course), class: "btn btn-info"
