%hr
%footer.footer
  .container
    .row
      .col-md-4
        Final Year Project
        %br
        Niall Canning
        %br
        URN: nc00627
        .row
        .fa.fa-envelope
        = mail_to 'cyber.learn.fyp@gmail.com'
        .row
      .col-md-4
        = link_to 'Privacy Policy', policy_path, class: "no-hyper"
        .row
        %br
      .col-md-4
        .row
        = link_to 'Create for CyberLearn', new_course_path, class: "no-hyper"
%br 